@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* font-family: 'Montserrat', sans-serif; */

#navbar, #footer{
    font-family: 'Montserrat', sans-serif;
}

span{
    font-weight: bold;
}

.container{
    padding: 10px;
}